<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath*:application.properties" />

    <!-- 开启扫描基础包 -->
    <context:component-scan base-package="org.frend" />

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <!-- 数据库基本配置 -->
        <property name="url" value="${db.url}"/>
        <property name = "username" value = "${db.username}" />
        <property name = "password" value = "${db.password}" />
        <property name = "driverClassName" value = "${db.driverClassName}" />
        <property name = "filters" value = "${db.filters}" />
        <!-- 最大并发连接 -->
        <property name="maxActive" value="${db.maxActive}" />
        <!-- 初始化连接数量 -->
        <property name="initialSize" value="${db.initialSize}" />
        <!-- 配置获取连接等待超时时间 -->
        <property name = "maxWait" value = "${db.maxWait}" />
        <!-- 最小空闲连接数 -->
        <property name="minIdle" value="${db.minIdle}" />
        <!-- 最大空闲连接数 -->

        <!-- 多久检测一次 -->
        <property name="timeBetweenEvictionRunsMillis" value="${db.timeBetweenEvictionRunsMillis}" />
        <!-- 连接池最小生存时间 -->
        <property name = "minEvictableIdleTimeMillis" value ="${db.minEvictableIdleTimeMillis}" />
        <property name = "validationQuery" value = "${db.validationQuery}" />
        <property name = "testWhileIdle" value = "${db.testWhileIdle}" />
        <property name = "testOnBorrow" value = "${db.testOnBorrow}" />
        <property name = "testOnReturn" value = "${db.testOnReturn}" />
        <property name = "maxOpenPreparedStatements" value ="${db.maxOpenPreparedStatements}" />
        <!-- 打开 removeAbandoned 功能 -->
        <property name="removeAbandoned" value="${db.removeAbandoned}" />
        <!-- 1800 秒，也就是 30 分钟 -->
        <property name = "removeAbandonedTimeout" value ="${db.removeAbandonedTimeout}" />
        <!-- 关闭 abanded 连接时输出错误日志 -->
        <property name = "logAbandoned" value = "${db.logAbandoned}" />
    </bean>

    <!-- jdbcTemplate -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" >
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- session工厂 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:config/spring/mybatis-cfg.xml" />
        <property name="mapperLocations" value="classpath:daos/**.xml" ></property>
    </bean>

    <!-- DAO接口所在包名，自定义DAO注解接口 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="org.frend" />
        <property name="annotationClass" value="org.frend.annotation.MyBatis" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
</beans>